<div id="password">
	<% form_tag sessions_path do %>
  	<h3>Enter your password:<%= password_field_tag :password %></h3>
		<%= submit_tag "Login", :id => "password_submit_button"  %>
	<% end -%>
</div>
