<div id="lotto">
	<%= link_to image_tag("lotto_button.png", :border => 0), :controller => "lotto", :action => "new_lotto" %>
</div>
<div id="euro">
	<%= link_to image_tag("euro_button.png", :border => 0), :controller => "lotto", :action => "new_euro" %>
</div>
<div id="thunder">
	<%= link_to image_tag("thunderball_button.png", :border => 0), :controller => "lotto", :action => "new_thunder" %>
</div>

<div>
	<p>
		Register for email alerts <%= link_to "here", :controller => "users", :action => "new" %>
	</p>
</div>	