<h3>Your USA powerball main numbers are</h3> 
<span class="lotto_numbers"><%= "#{@powerball_main_numbers.sort.join(' ')}" %></span>
<h3>Your powerball is</h3> 
<span class="lotto_numbers"><%= "#{@powerball}" %></span>