<h3>Your USA Mega Millions numbers are</h3> 
<span class="lotto_numbers"><%= "#{@usamega_numbers.sort.join(' ')}" %></span>
<h3>Your Megaball is</h3> 
<span class="lotto_numbers"><%= "#{@megaball}" %></span>