<h3>Your euro million numbers are</h3> 
<span class="lotto_numbers"><%= "#{@euro_numbers.sort.join(' ')}" %></span>
<h3>Your euro star numbers are</h3> 
<span class="lotto_numbers"><%= "#{@euro_stars.sort.join(' ')}" %></span>