<h3>Your numbers for tonight's Canada 649 draw are:</h3> 
<%= "#{@canada649_numbers.sort.join(' ')}" %>
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>