<h2>National Lottery - Euro Millions Friday</h2>
<h3>Your numbers for the Euro Millions draw are:</h3><br />
Main numbers: <%= "#{@euro_numbers.sort.join(' ')}" %><br />
Stars:  <%= "#{@euro_stars.sort.join(' ')}" %>
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>
