<h3>Your numbers for tonight's Irish Lottery draw are:</h3> 
<%= "#{@irish_numbers.sort.join(' ')}" %><br />
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>