<h2>Your lotto numbers for tonight's National Lottery Saturday Lotto are:</h2> 
<h3><%= "#{@lotto_numbers.sort.join(' ')}" %></h3>
<p>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p>