<h3>Your lotto numbers for tonight's UK National Lottery Wednesday Lotto are:</h3> 
<%= "#{@lotto_numbers.sort.join(' ')}" %>
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>