<h3>Your numbers for tonight's Powerball draw are:</h3> 
Main numbers: <%= "#{@powerball_main_numbers.sort.join(' ')}" %><br />
Powerball: <%= "#{@powerball}" %>
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>