<p>Hi <%= @user.name %>,</p>

<p>Thanks for registering with Lottomail.</p>

<p>You have signed up for these lottery notifications:</p>
<ul>
<% for subscription in @user.subscriptions %>
	<li><%= subscription.name %></li>
<% end -%>
</ul>