<h3>Your numbers for tonight's UK National Lottery Thunderball draw are:</h3> 
Main numbers: <%= "#{@thunder_main_numbers.sort.join(' ')}" %><br />
Thunderball: <%= "#{@thunderball}" %>
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>