<h3>Your numbers for tonight's USA Mega Millions draw are:</h3> 
Main numbers: <%= "#{@usamega_numbers.sort.join(' ')}" %><br />
Megaball: <%= "#{@megaball}" %>
<p><small>Sent on <%= Time.now %> Want to stop receiving these lotto-mail alerts? Send email to support@lottomail.org</p></small>