/*==UNIVERSAL===============================================*/
* {
	padding:0;
	margin:0;
}

li {
	list-style-type:none;
}

div {

}
body {
	background-color: #E5E5E5;
	font-family: Lucida Grande, Tahoma, Helvetica ;
	color:#333333;
	font-size:13px;
}

a {
	color:#00F;
	text-decoration:underline;
}

a:hover {

}

p {
	margin-top:3px;
}

h3 {
	color:#333;
	font-size:1.2em;
}

h3 a {
	color:#00F;
}

h3 a:hover {
	color:red;
	background-color:;
}

h2 {
	background:#faf986;
	text-align:center;
	line-height:43px;
	border-top:1px solid #f2ce28;
	border-bottom:1px solid #f2ce28;
	color:#484848;
	
}
/*==WRAPPER===============================================*/

#wrapper {
	background-color: #E5E5E5;
	margin-top:20px;
}

/*==CONTENT===============================================*/

#content {
	margin: 0 auto;
	border:;
	background-color:;
	width:1000px;
	min-height:700px;
	padding:;
}

/*==NAV===============================================*/

#nav {
	background: url(../images/banner.png) no-repeat left top;
	height:136px;
}

#nav_links {
	padding-top:88px;
	padding-left:320px;
}

#nav a {
	color:#c4c3cb;
	text-decoration:none;
	padding:4px;
}

#nav a:hover {
	color:#2b1470;
	background:#c4c3cb;
	text-decoration:none;
}

/*==MAIN CONTENT==============================================*/
#main_content{
	padding-left:28px;
	padding-right:23px;
}




/*==MAIN===============================================*/

#main {
	background: url(../images/mid.png) repeat-y scroll left top;
	
}


/*==STORY===============================================*/
#story {
	background:#eaeaea;
	height:335px;
	border:1px solid #cccccc;
	width:900px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#story img {
	padding-top:16px;
	padding-right:10px;
	float:right;
}

#left_text {
	float:left;
	width:450px;
	padding-left:10px;
	padding-top:20px;
}

#left_text p {
	padding-bottom:45px;
}

/*==NEW-USER-FORM===============================================*/
#new_user_form {
	background:#eaeaea;
	height:;
	border:1px solid #cccccc;
	width:600px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
}

#new_user_form h3 {
	text-align:center;
	padding-top:8px;
}

#new_user_form form {
	padding-left:180px;
	padding-top:10px;
}

.check_box {
	padding-bottom:5px;
}

#submit_button {
	padding-bottom:10px;
}


/*==USERS LIST===============================================*/
.users {
	padding-left:20px;
}

.users_list {
	padding-bottom:20px;
}

/*==SUBSCRIPTIONS LIST===============================================*/
.subscription {
	padding-left:20px;
}

.subscription_list {
	padding-bottom:20px;
}

/*==LOTTERY NUMBERS===============================================*/

#lottery_numbers {
	background:#eaeaea;
	height:150px;
	border:1px solid #cccccc;
	width:900px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#lottery_numbers_content {
	padding-left:8px;
	padding-top:10px;
}

.para_padding_bottom {
	padding-bottom:20px;
}

#random_numbers {
	padding-left:20px;
}

/*==FOOTER===============================================*/
#footer {
	text-align:center;
	color:#8D8D8D;
	font-size:0.8em;
	background:url(../images/bot.png) no-repeat left top;
	height:118px;
}

#footer h4 {
	padding-top:55px;
	font-weight:normal;
}


/*==BUTTONS===============================================*/


#lotto a:hover {
	background-color:#ecf2fe;
}

#euro a:hover {
	background-color:#ecf2fe;
}

#thunder a:hover {
	background-color:#ecf2fe;
}

.lotto_numbers {
	font-size:20px;
	color:#999;
}

.subscription h3 a{
	color:#333;
}

.subscription h3 a:hover {
	color:#ECF2FE;
	background-color:#333;
}

/*==PASSWORD===============================================*/

#password {
	margin-top:20px;
	margin-left:10px;
}

#password_submit_button {
	margin-left:177px;
	margin-top:10px;
}

input {
	margin:0;
	padding:0;
}

/*==FLASH ERRORS===============================================*/

#flash_messages{
	width:500px;
	height:35px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin:;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 350px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
	margin-right:20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
#errorExplanation ul {
  margin: 2px 24px;
}
#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
