				<!-- END MAIN_CONTENT --></div>
			<!-- END #MAIN --></div>
			<div id="footer">
			<h4>Copyright © 2010. Contact us <%= mail_to "support@lottomail.org" %> Site designed by <%= link_to "Rebelcolony", "http://www.rebelcolony.com" %></h4>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-2625951-11");
	pageTracker._trackPageview();
	} catch(err) {}</script>
</body>