				<!-- END MAIN_CONTENT --></div>
			<!-- END #MAIN --></div>
			<div id="footer">
			<h4>Copyright © 2010. Contact us <%= mail_to "support@lottomail.org" %> Site designed by <%= link_to "Rebelcolony", "http://www.rebelcolony.com" %></h4>
			</div>
		</div>
	</div>
</body>